<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15C50</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mindnode</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>documentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>MindNode Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSCanProvideIMVideoDataSource</key>
			<true/>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mindnode.mindnode.mindmap</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>MNDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>org.freemind.mm</string>
				<string>public.png</string>
				<string>public.tiff</string>
				<string>org.opml.opml</string>
				<string>public.html</string>
				<string>public.rtf</string>
				<string>public.plain-text</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.ideasoncanvas.mindnode.view-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mindnode</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>documentIcon.icns</string>
			<key>CFBundleTypeName</key>
			<string>MindNode Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSCanProvideIMVideoDataSource</key>
			<true/>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mindnode.mindnode.sffmindmap</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MNDocument</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>org.freemind.mm</string>
				<string>public.png</string>
				<string>public.tiff</string>
				<string>org.opml.opml</string>
				<string>public.html</string>
				<string>public.rtf</string>
				<string>public.plain-text</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.ideasoncanvas.mindnode.view-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mindnodetouch</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MindNode Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.mindnode.mindnode.touch</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MNDocument</string>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.ideasoncanvas.mindnode.view-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FreeMind document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.freemind.mm</string>
				<string>public.objective-c-plus-plus-source</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MNDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>opml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>OPML document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MNDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MindNode Pro</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.mindnode.MindNodePro</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MindNode Pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.11.5</string>
	<key>CFBundleSignature</key>
	<string>MNPo</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2621</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C68</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15C43</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string>7C68</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenuPro_AppStore</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>W6L39UYL6Z.com.mindnode.MindNode</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>One</string>
		</dict>
	</dict>
	<key>NSUbiquitousDisplaySet</key>
	<string>com.ideasoncanvas.MindNode</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MindNode document</string>
			<key>UTTypeIconFile</key>
			<string>MindModeFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.mindnode.mindnode.mindmap</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.mindnode.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mindnode</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MindNode document</string>
			<key>UTTypeIconFile</key>
			<string>MindModeFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.mindnode.mindnode.sffmindmap</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.mindnode.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mindnode</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MindNode (touch) document</string>
			<key>UTTypeIconFile</key>
			<string>MindModeTouchFile</string>
			<key>UTTypeIdentifier</key>
			<string>com.mindnode.mindnode.touch</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mindnodetouch</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>FreeMind document</string>
			<key>UTTypeIdentifier</key>
			<string>org.freemind.mm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mellel OPML document</string>
			<key>UTTypeIdentifier</key>
			<string>com.redlex.opml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OPML document</string>
			<key>UTTypeIdentifier</key>
			<string>org.opml.opml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
